# checkout alls text files with end of line = line feed
* text eol=lf

# Binary files should be checked in and out as binary
*.png binary
*.jpg binary
*.eot binary
*.ttf binary
*.pkcs8 binary
*.pkcs12 binary