**/*.iml
**/*.idea
**/target
**/.project
**/.settings
**/.classpath
**/npm-debug.log
**/node/*
**/nb-configuration.xml
**/*.war
**/*.class
**/*.DS_Store

**/.vscode

.repo
**/pom.xml.releaseBackup
**/release.properties
**/bindata.go
**/t1k.rpm
**/orbis-u-t1k.tar.gz
**/container.log
**/.env
**/coverage*
getpsrc*
dist